*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    font-size: 62.5%;
}

h1, h2, nav > a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;

}

body{
    /* width: 100vw; */
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ==========Header=========== */

header{
    width: 80%;
}


header img {
    height: 5rem;
}

.title{
    display: flex;
    align-items: center;
    padding-left: 5rem;
    background-color: #987b5d;
}

header h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.6rem;
}

header nav {
    height: 5rem;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6.25rem;
    gap: 4rem;
}

nav > a{
    color: brown;
    font-size: 1.6rem;
}

/* ==================== */

main{
    width: 80%;
    background-color: #ebebeb;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    margin: 2rem 12rem;
}

.conteudo h2{
    font-size: 2.4rem;
    margin-top: 2.5rem;
}

.conteudo img{
    border-radius: 1.5rem;
    width: 75rem;
    height: 40rem;
}

.conteudo p {
    font-size: 1.6rem;
    padding: 1.5rem;
}

/* ===================footer============= */

.footer{
    height: 8rem;
    width: 80%;
    background-color: black;
}
